In [49]:
import pandas as pd

df=pd.read_csv('Du_lieu_dt_4.csv')
df['Gia']=df['Gia'].replace('[*₫Giá dự kiến: .]','',regex=True)
df['Gia']=pd.to_numeric(df['Gia']).astype(int)

df.loc[:,['Name','Gia']]

                                            Name       Gia
0   Điện thoại Samsung Galaxy S22 Ultra 5G 128GB  30990000
1                      Điện thoại iPhone 11 64GB  16290000
2                     Điện thoại OPPO Reno7 Z 5G  10490000
3                          Điện thoại Realme C35   3990000
4                 Điện thoại Xiaomi 11T 5G 128GB  10990000
..                                           ...       ...
71                          Điện thoại Nokia G10   3690000
72                          Điện thoại Nokia G11   3590000
73                    Điện thoại Realme C21Y 3GB   3690000
74              Điện thoại Xiaomi Redmi 10C 64GB   3490000
75                   Điện thoại Realme C21-Y 3GB   3690000

[76 rows x 2 columns]

SyntaxError: invalid syntax (1436506056.py, line 1)